# ========== API KEY ==========
# UPSTAGE_API_KEY=
# UPSTAGE_BASE_URL=
UPSTAGE_LLM_MODEL
UPSTAGE_EMBED_MODEL

OPENAI_API_KEY=
OPENAI_LLM_MODEL
OPENAI_EMBED_MODEL

# ========== DB ==========
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# ========== LangSmith ==========
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=