streamlit
langchain
langchain-community
langchain-upstage
pydantic
typing-extensions
chromadb
openai
pymupdf
python-dotenv

# additional packages
psycopg2-binary
pdfplumber
langchain_experimental
pysrt
